<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Preguntas</title>
	<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" media="only screen and (min-width:530px) and (min-device-width: 481px)" href="/stylesheets/wide.css">
	<link type="text/css" rel="stylesheet" media="only screen and (max-width:480px)" href="/stylesheets/smartphone.css">
</head>
<body>
	<div id="page-wrap">
		<header class="main" id="h1">
		<% if(!session.user){ %>
		<p class="right"> <a href="/login">Login</a> </p>
		<% } else {%>
		<p class="right"> <%= session.user.username %> <a href="/logout">Logout</a> </p>
		<% } %>
		<h1>Quiz<span>: el gran juego de las preguntas.</span></h1>
		</header>
		<div id="d2">
			<nav class="main" id="n1" role="navigation">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/quizes">Preguntas</a></li>
					<li><a href="/autor">Autor</a></li>
				</ul>
			</nav>
			<section class="main" id="s1">
			<% if (errors.length){ %>
					<h1 class="error">	Corregir errores: </h1>
						<% for (var i in errors){ %>
							<p class="error"> <%= errors[i].message %> </p>
						<% } %>
					
			<% } %>
				<div>
					<%- body %>
				</div>
			</section>
		</div>
		<footer class="main" id="f1">
			<a href="http://es.wikipedia.org/wiki/Quiz" target="_blank">
				¿Que es Quiz?
			</a>
			<a href="https://github.com/Git-Jose" target="_blank">Visitar en Github</a>
		</footer>
	</div>
</body>
</html>