	<label for="preg" class="rem"> Pregunta: </label>
	<input type="text" name="quiz[pregunta]" value="<%= quiz.pregunta %>" id="preg">
	<label for="preg" class="rem"> Respuesta: </label>
	<input type="text" name="quiz[respuesta]" value="<%= quiz.respuesta %>" id="resp">
	<a href="/quizes"> <button type="button">Cancelar</button> </a>
	<input type="submit" value="Salvar">