<fieldset>
<legend>Pregunta</legend>
<input type="text" name="quiz[pregunta]" value="<%= quiz.pregunta %>" id="preg">
</fieldset>
<fieldset>
<legend>Respuesta</legend>
<input type="text" name="quiz[respuesta]" value="<%= quiz.respuesta %>" id="resp">
</fieldset>



<fieldset>
<legend>Temática</legend>
	<select name="quiz[tema]">
		<option value="Otro" <% if (quiz.tema === "Otro"){%> selected <% } %> >Otro</option>
		<option value="Humanidades" <% if (quiz.tema === "Humanidades"){%> selected <% } %> >Humanidades</option>
		<option value="Ocio" <% if (quiz.tema === "Ocio"){%> selected <% } %> >Ocio</option>
		<option value="Ciencia" <% if (quiz.tema === "Ciencia"){%> selected <% } %> >Ciencia</option>
		<option value="Tecnología" <% if (quiz.tema === "Tecnología"){%> selected <% } %> >Tecnología</option>
	</select>
</fieldset>
<br/>
<a class="elec" href="/quizes"><button type="button">Cancelar</button></a>
<input class="boton elec" type="submit" value="Salvar">
