<h1>Créditos</h1>
<img src="/images/comiendo.png" alt="Foto carnet">
<p class="creditos">Autor: Jose Antonio Carrascosa García</p>
<p class="creditos">Sistema operativo: Ubuntu 14.04</p>
<p class="creditos">--Software usado--</p>
<p class="creditos">Editor: Bluefish 2.2.7</p>
<p class="creditos">Gráficos: The Gimp 2.8.10</p>
<p class="creditos">3D: Blender 2.71</p>
<p class="creditos">Vídeos: Blender 2.71 y OpenShot 1.4.3</p>
<p class="creditos">Sonido: Audacity 2.0.5</p>
<h1>Vídeo</h1>
<video width="70%" height="70%" controls preload>
	<source src="/video/Locomotora.webm" type="video/webm">
	<source src="/video/Locomotora.mp4" type="video/mp4">					
</video>